TESTINGClient/src/META-INF/wsdl/localhost_9080/TestingWSDLService/TestingWSDLPort.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="TestingWSDL" targetNamespace="http://testing.ws" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://testing.ws" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
  </types>
  <message name="testingResponse">
    <part name="output1" type="xsd:string">
    </part>
  </message>
  <message name="AnotherOperationResponse">
    <part name="part1" type="xsd:string">
    </part>
  </message>
  <message name="AnotherOperationRequest">
    <part name="part1" type="xsd:string">
    </part>
  </message>
  <message name="testingRequest">
    <part name="input1" type="xsd:string">
    </part>
  </message>
  <portType name="TestingWSDLPortType">
    <operation name="testing">
      <input name="input1" message="tns:testingRequest">
    </input>
      <output name="output1" message="tns:testingResponse">
    </output>
    </operation>
    <operation name="AnotherOperation">
      <input name="input2" message="tns:AnotherOperationRequest">
    </input>
      <output name="output2" message="tns:AnotherOperationResponse">
    </output>
    </operation>
  </portType>
  <binding name="TestingWSDLBinding" type="tns:TestingWSDLPortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="testing">
      <soap:operation/>
      <input name="input1">
        <soap:body use="literal" namespace="http://testing.ws"/>
      </input>
      <output name="output1">
        <soap:body use="literal" namespace="http://testing.ws"/>
      </output>
    </operation>
    <operation name="AnotherOperation">
      <soap:operation/>
      <input name="input2">
        <soap:body use="literal" namespace="http://testing.ws"/>
      </input>
      <output name="output2">
        <soap:body use="literal" namespace="http://testing.ws"/>
      </output>
    </operation>
  </binding>
  <service name="TestingWSDLService">
    <port name="TestingWSDLPort" binding="tns:TestingWSDLBinding">
      <soap:address location="http://192.168.1.33:9080/TestingWSDLService/TestingWSDLPort"/>
    </port>
  </service>
    <plnk:partnerLinkType name="TestingWSDL">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="TestingWSDLPortTypeRole" portType="tns:TestingWSDLPortType"/>
    </plnk:partnerLinkType>
</definitions>
