TestingAgain/src/META-INF/wsdl/localhost_9080/TestingWSDLService/TestingWSDLPort.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="TestingWSDL" targetNamespace="http://testing.ws" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://testing.ws" xmlns:ns0="http://types.lameduck.group8.ws.dtu" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema targetNamespace="http://testing.ws">
            <xsd:import namespace="http://types.lameduck.group8.ws.dtu" schemaLocation="http://localhost:8080/LameDuckService/LameDuckService?xsd=1"/>
            <xsd:complexType name="itineraryType">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="hotelBookings" type="tns:bookingItemType"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="flightBookings" type="tns:bookingItemType"/>
                    <xsd:element name="firstItineraryDate" type="xsd:date"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="bookingItemType">
                <xsd:sequence>
                    <xsd:element name="bookingStatus" type="xsd:string"/>
                    <xsd:element name="bookingNumber" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
  </types>
  <message name="getFlightsOperationResponse">
    <part name="fligtList" type="ns0:flightInfoListType">
    </part>
  </message>
  <message name="getFlightsOperationRequest">
    <part name="queryFlights" type="ns0:getFlightRequestType">
    </part>
    <part name="CustomerId" type="xsd:int">
    </part>
    <part name="ItineraryId" type="xsd:int">
    </part>
  </message>
  <message name="createItineraryOperationResponse">
    <part name="status" type="xsd:string">
    </part>
  </message>
  <message name="createItineraryOperationRequest">
    <part name="customerId" type="xsd:int">
    </part>
    <part name="itineraryId" type="xsd:int">
    </part>
  </message>
  <portType name="TestingWSDLPortType">
    <operation name="createItineraryOperation">
      <input name="input10" message="tns:createItineraryOperationRequest">
    </input>
      <output name="output10" message="tns:createItineraryOperationResponse">
    </output>
    </operation>
    <operation name="getFlightsOperation">
      <input name="input11" message="tns:getFlightsOperationRequest">
    </input>
      <output name="output11" message="tns:getFlightsOperationResponse">
    </output>
    </operation>
  </portType>
  <binding name="TestingWSDLBinding" type="tns:TestingWSDLPortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="createItineraryOperation">
      <soap:operation/>
      <input name="input10">
        <soap:body use="literal" namespace="http://testing.ws"/>
      </input>
      <output name="output10">
        <soap:body use="literal" namespace="http://testing.ws"/>
      </output>
    </operation>
    <operation name="getFlightsOperation">
      <soap:operation/>
      <input name="input11">
        <soap:body use="literal" namespace="http://testing.ws"/>
      </input>
      <output name="output11">
        <soap:body use="literal" namespace="http://testing.ws"/>
      </output>
    </operation>
  </binding>
  <service name="TestingWSDLService">
    <port name="TestingWSDLPort" binding="tns:TestingWSDLBinding">
      <soap:address location="http://10.16.175.18:9080/TestingWSDLService/TestingWSDLPort"/>
    </port>
  </service>
    <plnk:partnerLinkType name="TestingWSDL">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="TestingWSDLPortTypeRole" portType="tns:TestingWSDLPortType"/>
    </plnk:partnerLinkType>
    <vprop:property name="CustomerId" type="xsd:int"/>
    <vprop:property name="ItiernarayId" type="xsd:int"/>
    <vprop:propertyAlias messageType="tns:getFlightsOperationRequest" part="CustomerId" propertyName="tns:CustomerId"/>
    <vprop:propertyAlias messageType="tns:getFlightsOperationRequest" part="ItineraryId" propertyName="tns:ItiernarayId"/>
    <vprop:propertyAlias messageType="tns:createItineraryOperationRequest" part="customerId" propertyName="tns:CustomerId"/>
    <vprop:propertyAlias messageType="tns:createItineraryOperationRequest" part="itineraryId" propertyName="tns:ItiernarayId"/>
</definitions>
